<!DOCTYPE html>
<html>

<head>
  <title>POKEDEX</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/spinner.css">
  <link rel="stylesheet" href="styles/transitions.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://kit.fontawesome.com/a5243aa500.js" crossorigin="anonymous"></script>

</head>

<body>
  <div id="app">
    <div class="sk-chase center" style="position: absolute;" v-if="!isLoaded">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>

    <div class="alert alert-primary" id="success-alert" role="alert" v-show="addedToFavorites">
      POKEMON ADDED TO FAVORITES
    </div>

    <div class="alert alert-primary" id="success-alert" role="alert" v-show="pokemonInFavorites">
      POKEMON REMOVED FROM FAVORITES
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="#">POKEDEX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" @click="home" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" @click="displayFavorites" href="#">Favorites</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" @click="clearFavorites" v-show="showFavorites" href="#">Clear favorites</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" @click="loadMore" href="#" v-show="!showFavorites">Load More</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="margin-right: 10px" v-show="!showFavorites">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" @click="sortArray('speed')" href="#">SPEED</a>
              <a class="dropdown-item" @click="sortArray('special-defense')">SPECIAL DEFENSE</a>
              <a class="dropdown-item" @click="sortArray('special-attack')">SPECIAL ATTACK</a>
              <a class="dropdown-item" @click="sortArray('defense')">DEFENSE</a>
              <a class="dropdown-item" @click="sortArray('attack')">ATTACK</a>
              <a class="dropdown-item" @click="sortArray('hp')">HP</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" v-show="!showFavorites">
          <input class="form-control  mr-sm-2" v-model="keyword" @input='searchPokemon' type="search"
            placeholder="Search">
        </form>
      </div>
    </nav>

    <div class="container" v-show="isLoaded">
      <div class="row">
        <div class="col-sm-6 col-lg-2" v-for="pokemon in (!showFavorites ? pokemonData : favorites)">
          <div class="card" data-toggle="modal" data-target="#modal" :key="pokemon.id" @click="clickedPokemon = pokemon"
            :style="{ background: getBackgroundColor(pokemon.types) }">

            <img class="card-img" @load.prevent.once="handleLoad" @error.prevent.once="handleLoad" :src="pokemon.sprites.front_default">

            <div class="card-body">
              <p class="card-text" style="margin-bottom: 5px;">{{ pokemon.name.toUpperCase() }}</p>
              <span style="font-size: 1.3em; color: yellow;" @click.stop="addToFavorites(pokemon)">
                <!-- <i class="fas fa-star"></i> -->
                <i :class="[checkFavorites(pokemon) ? 'fas fa-star' : '', 'far fa-star']"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal" v-bind:style="{ background: getBackgroundColor(clickedPokemon.types) }"
      v-if="clickedPokemon">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="modal-header row">
            <img class="card-img col-4 modal-header-image" v-bind:src="clickedPokemon.sprites.front_default">
            <h5 class="modal-title col-8">{{ clickedPokemon.name.toUpperCase() }}</h5>
          </div>

          <div class="modal-body">

            <div style="margin-bottom: 20px;">
              <div style="padding: 3px;" v-for="type in clickedPokemon.types">
                <div class="col-4 type" v-bind:style="{ background: typeColor[type.type.name]}">
                  {{ type.type.name}}
                </div>
              </div>
            </div>

            <hr class="row">

            <div class="row stat-info" v-for="stat in clickedPokemon.stats">
              <div class="col-4">
                <p class="stat-name">
                  {{ stat.stat.name.toUpperCase() }}
                </p>
              </div>
              <div class="progress col-7">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                  v-bind:style="{ width: getProgressBarWidth(stat.base_stat) }">
                  {{ stat.base_stat }}
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>

</body>

</html>